################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ContactManagement.Tests/obj/project.nuget.cache
/ContactManagement.Tests/obj/Debug/net8.0/ref/ContactManagement.Tests.dll
/ContactManagement.Tests/bin/Debug/net8.0/ContactManagement.Tests.dll
/ContactManagement.Tests/bin/Debug/net8.0/ContactManagement.Tests.pdb
/ContactManagement.Tests/obj/Debug/net8.0/refint/ContactManagement.Tests.dll
/ContactManagement.Tests/obj/ContactManagement.Tests.csproj.nuget.dgspec.json
/ContactManagement.Tests/obj/ContactManagement.Tests.csproj.nuget.g.props
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.AssemblyInfoInputs.cache
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.assets.cache
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.csproj.CoreCompileInputs.cache
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.csproj.FileListAbsolute.txt
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.dll
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.GeneratedMSBuildEditorConfig.editorconfig
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.pdb
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.sourcelink.json
/ContactManagement.Tests/obj/project.assets.json
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.AssemblyInfoInputs.cache
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.assets.cache
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.csproj.AssemblyReference.cache
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.csproj.BuildWithSkipAnalyzers
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.csproj.CoreCompileInputs.cache
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.csproj.FileListAbsolute.txt
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.dll
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.genruntimeconfig.cache
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.pdb
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.sourcelink.json
/ContactManagement.Infraestructure/obj/Debug/net8.0/refint/ContactManagement.Infraestructure.dll
/ContactManagement.Infraestructure/obj/Debug/net8.0/ref/ContactManagement.Infraestructure.dll
/ContactManagement.Infraestructure/bin/Debug/net8.0/ContactManagement.Domain.dll
/ContactManagement.Infraestructure/bin/Debug/net8.0/ContactManagement.Domain.pdb
/ContactManagement.Infraestructure/bin/Debug/net8.0/ContactManagement.Infraestructure.dll
/ContactManagement.Infraestructure/bin/Debug/net8.0/ContactManagement.Infraestructure.pdb
/ContactManagement.Domain/obj/ContactManagement.Domain.csproj.nuget.dgspec.json
/ContactManagement.Domain/obj/ContactManagement.Domain.csproj.nuget.g.props
/ContactManagement.Domain/obj/project.assets.json
/ContactManagement.Domain/obj/project.nuget.cache
/ContactManagement.Domain/obj/Release/net8.0/ContactManagement.Domain.AssemblyInfoInputs.cache
/ContactManagement.Domain/obj/Release/net8.0/ContactManagement.Domain.assets.cache
/ContactManagement.Domain/obj/Release/net8.0/ContactManagement.Domain.GeneratedMSBuildEditorConfig.editorconfig
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.AssemblyInfoInputs.cache
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.assets.cache
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.csproj.CoreCompileInputs.cache
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.csproj.FileListAbsolute.txt
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.dll
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.GeneratedMSBuildEditorConfig.editorconfig
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.pdb
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.sourcelink.json
/ContactManagement.Domain/obj/Debug/net8.0/refint/ContactManagement.Domain.dll
/ContactManagement.Infraestructure/obj/Release/net8.0/ContactManagement.Infraestructure.AssemblyInfoInputs.cache
/ContactManagement.Infraestructure/obj/Release/net8.0/ContactManagement.Infraestructure.assets.cache
/ContactManagement.Infraestructure/obj/Release/net8.0/ContactManagement.Infraestructure.csproj.AssemblyReference.cache
/ContactManagement.Infraestructure/obj/Release/net8.0/ContactManagement.Infraestructure.GeneratedMSBuildEditorConfig.editorconfig
/.vs/slnx.sqlite
/ContactManagement.Application/bin/Debug/net8.0/ContactManagement.Application.deps.json
/ContactManagement.Application/bin/Debug/net8.0/ContactManagement.Application.dll
/ContactManagement.Application/bin/Debug/net8.0/ContactManagement.Application.pdb
/ContactManagement.Application/bin/Debug/net8.0/ContactManagement.Domain.dll
/ContactManagement.Application/bin/Debug/net8.0/ContactManagement.Domain.pdb
/ContactManagement.Application/bin/Debug/net8.0/ContactManagement.Infraestructure.dll
/ContactManagement.Application/bin/Debug/net8.0/ContactManagement.Infraestructure.pdb
/ContactManagement.Application/obj/Debug/net8.0/ref/ContactManagement.Application.dll
/ContactManagement.Application/obj/Debug/net8.0/ContactM.88F8075D.Up2Date
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.AssemblyInfo.cs
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.AssemblyInfoInputs.cache
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.assets.cache
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.csproj.AssemblyReference.cache
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.csproj.BuildWithSkipAnalyzers
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.csproj.CoreCompileInputs.cache
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.csproj.FileListAbsolute.txt
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.dll
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.GeneratedMSBuildEditorConfig.editorconfig
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.pdb
/ContactManagement.Application/obj/Debug/net8.0/ContactManagement.Application.sourcelink.json
/ContactManagement.Application/obj/Debug/net8.0/refint/ContactManagement.Application.dll
/ContactManagement.Application/obj/ContactManagement.Application.csproj.nuget.dgspec.json
/ContactManagement.Application/obj/ContactManagement.Application.csproj.nuget.g.props
/ContactManagement.Application/obj/ContactManagement.Application.csproj.nuget.g.targets
/ContactManagement.Application/obj/project.assets.json
/ContactManagement.Application/obj/project.nuget.cache
/ContactManagement.Application/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ContactManagement.Application/obj/Release/net8.0/ContactManagement.Application.AssemblyInfo.cs
/ContactManagement.Application/obj/Release/net8.0/ContactManagement.Application.AssemblyInfoInputs.cache
/ContactManagement.Application/obj/Release/net8.0/ContactManagement.Application.assets.cache
/ContactManagement.Application/obj/Release/net8.0/ContactManagement.Application.csproj.AssemblyReference.cache
/ContactManagement.Application/obj/Release/net8.0/ContactManagement.Application.GeneratedMSBuildEditorConfig.editorconfig
/ContactManagement.Application/obj/Release/net8.0/ContactManagement.Application.GlobalUsings.g.cs
/ContactManagement.Domain/bin/Debug/net8.0/ContactManagement.Domain.dll
/ContactManagement.Domain/bin/Debug/net8.0/ContactManagement.Domain.pdb
/ContactManagement.Domain/obj/Debug/net8.0/ContactManagement.Domain.AssemblyInfo.cs
/ContactManagement.Domain/obj/Debug/net8.0/ref/ContactManagement.Domain.dll
/ContactManagement.Domain/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ContactManagement.Domain/obj/Release/net8.0/ContactManagement.Domain.AssemblyInfo.cs
/ContactManagement.Domain/obj/Release/net8.0/ContactManagement.Domain.GlobalUsings.g.cs
/ContactManagement.Infraestructure/obj/project.nuget.cache
/ContactManagement.Infraestructure/obj/Debug/net8.0/ContactManagement.Infraestructure.AssemblyInfo.cs
/ContactManagement.Infraestructure/Migrations/20241231001106_202412302108InitialCreate.cs
/ContactManagement.Infraestructure/Migrations/20241231001106_202412302108InitialCreate.Designer.cs
/ContactManagement.Infraestructure/Migrations/20250104173038_InitialCreate.cs
/ContactManagement.Infraestructure/Migrations/20250104173038_InitialCreate.Designer.cs
/ContactManagement.Infraestructure/obj/ContactManagement.Infraestructure.csproj.nuget.dgspec.json
/ContactManagement.Infraestructure/obj/ContactManagement.Infraestructure.csproj.nuget.g.props
/ContactManagement.Infraestructure/obj/project.assets.json
/ContactManagement.Infraestructure/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ContactManagement.Infraestructure/obj/Release/net8.0/ContactManagement.Infraestructure.AssemblyInfo.cs
/ContactManagement.Infraestructure/obj/Release/net8.0/ContactManagement.Infraestructure.GlobalUsings.g.cs
/ContactManagement.Tests/obj/Debug/net8.0/ContactManagement.Tests.AssemblyInfo.cs
